.pokemon {
    margin-top: 1rem;
    flex-basis: 20%;
    height: 200px;
    width: 200px;
}

.pokemon-name {
    font-size: 20px;
    letter-spacing: 0.3rem;
    color: black;
    text-decoration: none;
}

.pokemon-img {
    margin-top: 10px;
    height: 100px;
    max-height: 80%;
} 

.pokemon:hover {
    background-color: beige;
}